n8n-contact-webhook.json
{
  "name": "PowerGym Contact Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook/contact",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-contact",
      "name": "Contact Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "// Procesar datos del formulario de contacto\nconst contactData = $input.first().json;\n\n// Validar datos requeridos\nif (!contactData.name || !contactData.email || !contactData.message) {\n  throw new Error('Faltan datos requeridos');\n}\n\n// Crear objeto de respuesta\nconst processedData = {\n  name: contactData.name,\n  email: contactData.email,\n  message: contactData.message,\n  timestamp: contactData.timestamp,\n  processedAt: new Date().toISOString(),\n  status: 'received'\n};\n\nreturn processedData;"
      },
      "id": "validate-contact",
      "name": "Validate Contact",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "fromEmail": "noreply@powergym.com",
        "toEmail": "info@powergym.com",
        "subject": "Nuevo mensaje de contacto - PowerGym",
        "emailType": "html",
        "message": "<h2>Nuevo mensaje de contacto</h2>\n<p><strong>Nombre:</strong> {{ $json.name }}</p>\n<p><strong>Email:</strong> {{ $json.email }}</p>\n<p><strong>Mensaje:</strong></p>\n<p>{{ $json.message }}</p>\n<p><strong>Fecha:</strong> {{ $json.timestamp }}</p>",
        "options": {}
      },
      "id": "send-email",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [680, 300]
    },
    {
      "parameters": {
        "operation": "insert",
        "table": "contacts",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $json.name }}",
            "email": "={{ $json.email }}",
            "message": "={{ $json.message }}",
            "timestamp": "={{ $json.timestamp }}",
            "status": "new"
          },
          "matchingColumns": []
        },
        "options": {}
      },
      "id": "save-to-db",
      "name": "Save to Database",
      "type": "n8n-nodes-base.database",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"success\": true,\n  \"message\": \"Mensaje recibido correctamente\",\n  \"timestamp\": \"{{ $json.timestamp }}\"\n}",
        "options": {}
      },
      "id": "respond-success",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "Contact Webhook": {
      "main": [
        [
          {
            "node": "Validate Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Contact": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Save to Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to Database": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "1"
} 